// COUNTDOWN ANIMATION

#stage {
    position: relative;
}

.countdown-30 {
	position: absolute;
	bottom: 0;
	left: 0;
	width:100%;
	height: 0.25em;
	background: #F04F25;

	  -webkit-animation: countdown-30 30s linear; /* Safari 4+ */
  	-moz-animation:    countdown-30 30s linear; /* Fx 5+ */
  	-o-animation:      countdown-30 30s linear; /* Opera 12+ */
  	animation:         countdown-30 30s linear; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes countdown-30 {
    0% { -webkit-transform:  translate(-100%, 0px); background: #CDC7C5; }
  100% { -webkit-transform:  translate(0px, 0px); background: #F04F25; }
}
@-moz-keyframes countdown-30 {
  0% { -moz-transform:  translate(-100%, 0px); background: #CDC7C5; }
  100% { -moz-transform:  translate(0px, 0px); background: #F04F25; }
}
@-o-keyframes countdown-30 {
  0% { -o-transform:  translate(-100%, 0px); background: #CDC7C5; }
  100% { -o-transform:  translate(0px, 0px); background: #F04F25; }
}
@keyframes countdown-30 {
  0% { transform:  translate(-100%, 0px); background: #CDC7C5; }
  100% { transform:  translate(0px, 0px); background: #F04F25; }
}

// END OF COUNTDOWN