<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;">

	<title>Colory</title>


  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/colory.css" type="text/css" charset="utf-8"/>
	
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="favicon/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="favicon/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="favicon/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="favicon/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="favicon/favicon-128.png" sizes="128x128" />
  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="favicon/mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="favicon/mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="favicon/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="favicon/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="favicon/mstile-310x310.png" />

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="js/lib/jquery-2.1.3.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/CardModel.js"></script>
  <script src="js/CardView.js"></script>

</head>

<body>

<header>
  <h1 class="logo">c<em id="o1" class="color1">o</em>l<em id="o2" class="color2">o</em>ry</h1>
  <audio id="pling" src="audio/pling.mp3"></audio>
</header>

  <div class="container">
    <div id="board" class="noselect">
      <script type="text/template" id="card-template">
        <div class="card <%= shown ? 'shown' : 'closed' %> <%= color %> <%= found ? 'found' : '' %>"/>
      </script>
    </div>
    <div id="start" class="noselect">
        <button class="noselect pulse-anim" onclick="$('#pling').get(0).play();
        setTimeout(function(){
			$('#board').css('display','block');
			$('#start').css('display','none');
			$('#stats').css('display','inline');
        },500);"> </button>
    </div>

    <div id="gameover" class="noselect pulse-anim">
        <button class="noselect pulse-anim" id="score" onclick="$('#pling').get(0).play();
        setTimeout(function(){
              $('#board').css('display','block');
              $('#gameover').css('display','none');
              window.location.hash = '#direct';
              location.reload();
        },500);"></button> <br /><br />
		<h2>
			<a id="twitter" class="socialmedia" href=""><span class="icon-twitter"></span></a> 
			&nbsp;&nbsp;&nbsp;
			<a id="facebook" class="socialmedia" href="https://www.facebook.com/sharer/sharer.php?u=http://evhenke.github.io/colory/"><span class="icon-facebook2"></a>
		</h2>
    </div>

  </div>

    <footer>
    <div id="stats" >
        <p id="jazz"><span id="seconds">00</span>:<span id="tens">0</span></p>
        <!--p>number of errors: <span id="errors">0</span></p-->
    </div>

    <div id="credits">
    <div>
      <small>
      built by <a href="https://twitter.com/evStyleDesign">@evstyle</a>
      and <a href="https://twitter.com/aurelient">@aurelient</a>.
      </small>
    </div>
    </footer>

</body>


<!-- Start of Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38100782-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End of GoogleAnalytics -->

</html>

